body{
    animation: body 8s infinite;
    background: linear-gradient(25deg,white,darkgreen)
} 
#webnav{
    height:70px;background: rgb(196,241,216);
    background: linear-gradient(261deg, rgb(131, 167, 147) 59%, rgba(9,121,78,0.7847514005602241) 60%);
    color: white !important;
    border-radius: 2%;
}

.logo{
    height:60px;
    border-radius: 50%;
    border: 1px solid darkgreen;
}
.nav-items a{
    color:white;
    text-decoration: none;
}